<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}tmy.se URL shortener{% endblock %}</title>
    <style type="text/css">
      table,td {border: 1px solid black;}
      #sidebar {float:right;
      width:200px;
      border: 1px solid black;
      padding:15px;
      margin:20px;
      }
    </style>
</head>
<body>
    <div id="sidebar">
        {% block sidebar %}
	<h3>Menu</h3>
        <ul>
	  <li><a href="/shorten/">Shorten</a></li>
	</ul>

	<p style="font-size: 70%; margin-top:50px;">Powered by <a href="http://www.djangoproject.com/">Django</a>.</p>

	<p style="font-size: 70%">The old content of this domain is still available at <a href="http://www.tmy.se/">www.tmy.se</a>.</p>

         {% endblock %}
    </div>

    <div id="content">
        {% block content %}
	{% endblock %}
    </div>
</body>
</html>
