{% extends "index.html" %}
{% block content %}
<h1>The no-nonsense, no-logging URL shortener</h1>


<form action="." method="post">
<div style="color:#9f0000">
{{ url.non_field_errors }}
{{ url.url.errors }}
{{ url.key.errors }}
</div>
<p><label for="id_url">Shorten the long URL</label> {{ url.url }}</p>
<p><label for="id_key">to <em>http://tmy.se/</em></label>{{ url.key }}</p>
<input type="submit" value="Submit" />
{% csrf_token %}
</form>

<p>Paste your long URL into the first field above, change the suffix of the short URL if you like, hit Submit. You will be led to a page that allows you to test the redirection from short to long. Plus it displays QR-codes for both.</p>


<h2>About</h2>

<p>Albeit bringing us closer
to <a href="http://royal.pingdom.com/2010/09/22/is-the-web-heading-toward-redirect-hell/">redirect
hell</a>, I found myself wanting a URL-shortener that is both
non-bloated (no fancy JavaScript or features noone wants) and
non-sneaky (I do not want myself or anybody else to track the visitors
that follow a certain link that I spread). This site has no user
accounts, no fancy layout and it does not log any activities. By
using permanent redirects it even makes your browser remember a short
link and it will not not need to come back a second time.</p>

<p>The source code can be
found <a href="http://github.com/ivh/ShortUrl">on GitHub</a>.
</p>

<h2>API and advanced usage</h2>

<p>As you might have noticed when you shortened a URL above, say to <em>http://tmy.se/greatfun</em>, then the "info page" is reached by appending <em>/view/</em>, i.e. <a href="http://tmy.se/greatfun/view/">http://tmy.se/greatfun/view/</a>. The two images with the QR-codes that are embedded there are served dynamically from the URLs <a href="http://tmy.se/greatfun/qrl">http://tmy.se/greatfun/qrl</a> (long url) and <a href="http://tmy.se/greatfun/qrs">http://tmy.se/greatfun/qrs</a> (short url).</p>

<p>For automated access, please direct your requests to <em>http://tmy.se/api</em>. There are two fields of data (GET or POST equally possible) that you can fill: <em>url</em> and <em>key</em>. So, in order to simply shorten a URL with a random key, do</p>
<blockquote><pre>http://tmy.se/api?url=http://your.nice/url</pre></blockquote>

<p>The service will reply with HTTP status code 201 (created) and a payload of a short JSON document that looks as follows</p>
<blockquote><pre>{"surl": "http://tmy.se/IUf", "lurl": "http://your.nice/url", "qrl": "http://tmy.se/IUf/qrl/", "qrs": "http://tmy.se/IUf/qrs/", "view": "http://tmy.se/IUf/view/"}</pre></blockquote>

<p>(You should be able to figure out what each of these mean, if you read the above.)</p>

<p>If you in addition to <em>url</em> also give a <em>key</em> value, it will try to make a new redirection with the short url you wished for, but there are no guarantees, of course. If the key is already taken or invalid (only letters and numbers, please!), you will get a HTTP status code 409 (conflict) to gether with a short error message, embedded in JSON.</p>

For knowing in advance where a short url will lead you, once you follow its redirection, just give the <em>key</em> value, no <em>url</em>, for example <em>http://tmy.se/api?key=greatfun</em>. This will be interpreted as a look-up and serve the same JSON-dictionary as above, at the time of creation. In there you find the long URL.

{% endblock %}
