{% extends "index.html" %}
{% block content %}
<h1>URL shortened</h1>

<ul style="list-style-type:none;">
<li>The short URL <strong>http://tmy.se/{{ object.key }}</strong> (<a href="http://tmy.se/{{ object.key }}">Link</a>)</li>
<li>now redirects permanently to<br/><strong>{{ object.url }}</strong><br/>(<a href="{{ object.url }}">Link</a>)</li>
<li><img style="margin-bottom:32px; margin-left: 30px" width="96" height="96" src="/{{ object.key }}/qrs" /><img style="margin-top:50px; margin-left: 50px" width="128" height="128" src="/{{ object.key }}/qrl" /></li>
</ul>


{% endblock %}
